<div *ngIf="assignments" class="column left">
  <div class="container">
      <div class="content"><h4>Assignments</h4></div>
      <div *ngFor="let assignment of assignments; index as assignmentId" class="content">
        <div class="content">
        <button mat-button color="primary" (click)="onClick(assignment)">{{assignment.name}}</button>
        </div>
        <div class="content">Open: {{ formatDate(assignment.open) }} </div>
        <div class="content">Due: {{ formatDate(assignment.due) }} </div>
        <div class="content">
            <button mat-stroked-button color="primary" (click)="onEdit(assignment)">Edit</button>
        </div>
      </div>
      <div class="content">
        <button mat-stroked-button color="primary" (click)="onEdit(null)">Add</button>
      </div>
   </div>
</div>
<div class="column right">
<!-- Use ng-template to ensure that the generated components end up in the right place -->
      <ng-template #container>

      </ng-template>
</div>
