<div class="page-header-area">
    <app-course-list></app-course-list>
</div>
<div>
    <mat-divider></mat-divider>
    <!--<div *ngIf="selected">-->
        <div class="page">
            <div class="page-col-1">
                <app-assignment-list></app-assignment-list>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="page-col-2">
                <!--<div *ngIf="selected">-->
                    <app-submission></app-submission>
                    <!--</div>-->
            </div>
        </div>
        <!--</div>-->
</div>
