p {
  word-wrap: break-word;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background-color: gray;
}

.content {
  padding: 0.1em;
  background-color: white;
  margin: 0px 0.7px 0.7px 0.7px;
}

