<div class="container">
    <div class="content">
    <h4 *ngIf="assignment"> {{ assignment.name }} </h4>
    </div>
    <div class="content">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let grader of graders">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ID: {{ grader.id }}
              SEQ: {{ grader.seq }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="content">
            <div class="content"><h5>FILE:</h5><p>{{ grader.filePath }}</p></div>
            <div class="content">PROGRAM: {{ grader.program }}</div>
            <div class="content">ARGS: {{ grader.args }}</div>
            <div class="content">COPY: {{ grader.copy }}</div>
          </div>
          <div class="content">
          <button mat-stroked-button color="accent" (click)="onDelete(grader)">Delete</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="content">
        <button mat-stroked-button color="primary" (click)="onAdd()">Add</button>
    </div>
</div>
<div>
  <!-- Use ng-template to ensure that the generated components end up in the right place -->
      <ng-template #container>

      </ng-template>
</div>
