<div *ngIf="assignment">
    <h4>{{ assignment.course }} {{ assignment.name }}</h4>

</div>
<mat-tab-group>
    <mat-tab label="submit">
<h4>Submit your work!</h4>
<div>
  <div *ngIf="error">
    {{ error.message }}
  </div>
  <div *ngIf="uploadResponse.status === 'success'">
    Successfully uploaded to {{ uploadResponse.filePath }} !
  </div>
  <div *ngIf="uploadResponse.status === 'progress'">


    <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      {{uploadResponse.message}}%
    </div>

  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <label>File</label>
    <input type="file" name="submission" (change)="onFileChange($event)" />
    <button type="submit">Upload</button>

  </form>
  <div *ngIf="uploadResponse.message !== ''">
      <div [innerHtml]="uploadResponse.message"></div>
  </div>
</div>
    </mat-tab>

    <mat-tab label="submissions">
  <div *ngIf="assignment">
  <app-submission-list [user]="username"></app-submission-list>
  </div>
    </mat-tab>
</mat-tab-group>
